/1-introduccion/node_modules
/2-reactstate/ej1/node_modules
/2-reactstate/ej2/node_modules
/2-reactstate/ej3/node_modules
/2-reactstate/ej7/node_modules
/2-reactstate/ej6/node_modules
/2-reactstate/ej5/node_modules
/2-reactstate/ej4/node_modules
/2-reactstate/ejsolar/node_modules
/2-reactstate/ej8/node_modules
/3-reactrutas/ej1/node_modules
/3-reactrutas/ej2/node_modules
/3-reactrutas/ej3/node_modules
/3-reactrutas/ej4/node_modules
/4-formularios/compositores/node_modules